.error-page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("https://topchiase24h.com/wp-content/uploads/2021/04/error-404-14.jpg");
  background-size: contain;
background-position: (-20%);
}